{{ define "osobe/picker.html" }}
<dialog open class="modal" data-remove-on-close data-modal-type="picker">
    <article>
        <header>
            <h2>Одабери особу</h2>
        </header>
        <section>
            <form class="inline-filter"
                  hx-get="/ui/osobe/picker/table"
                  hx-target="#osobe-picker-table"
                  hx-trigger="submit"
                  hx-swap="outerHTML">
                <input type="hidden" name="field" value="{{ .Field }}">
                <input type="hidden" name="page_number" value="1">
                <input type="hidden" name="page_size" value="10">
                <input type="search" name="last_name" placeholder="Тражи по делу презимена" aria-label="Тражи по делу презимена">
                <button type="submit" class="secondary">Претражи</button>
            </form>
            <button class="primary"
                    type="button"
                    hx-get="/ui/osobe/new?context=picker&field={{ .Field }}"
                    hx-target="body"
                    hx-trigger="click"
                    hx-swap="beforeend">
                Додај нову особу
            </button>
        </section>
        <section>
            <div id="osobe-picker-table"
                 hx-get="/ui/osobe/picker/table?field={{ .Field }}"
                 hx-trigger="load"
                 hx-target="this"
                 hx-swap="outerHTML">
                <div class="htmx-indicator">Учитавање...</div>
            </div>
        </section>
        <footer>
            <button type="button" class="secondary" data-close-dialog>Затвори</button>
        </footer>
    </article>
</dialog>
{{ end }}
