{{ define "dashboard/index.html" }}
{{ template "layouts/base" . }}
{{ end }}

{{ define "dashboard/content" }}
<section>
    <hgroup>
        <h1>Контролна табла</h1>
        <p>Брзи преглед ресурса апликације Крштеница.</p>
    </hgroup>
    <div class="grid">
        <article>
            <header>
                <strong>Крштенице</strong>
            </header>
            <p>Управљај списком крштеница, додај нове и измени постојеће.</p>
            <footer>
                <a role="button" href="/ui/krstenice">Крштенице</a>
            </footer>
        </article>
        <article>
            <header>
                <strong>Епархије</strong>
            </header>
            <p>Управљај списком епархија, додај нове и измени постојеће.</p>
            <footer>
                <a role="button" href="/ui/eparhije">Епархије</a>
            </footer>
        </article>
        <article>
            <header>
                <strong>Храмови</strong>
            </header>
            <p>Управљај списком храмова, додај нове и измени постојеће.</p>
            <footer>
                <a role="button" href="/ui/hramovi">Храмови</a>
            </footer>
        </article>
        <article>
            <header>
                <strong>Свештеници</strong>
            </header>
            <p>Управљај списком свештеника, додај нове и измени постојеће.</p>
            <footer>
                <a role="button" href="/ui/svestenici">Свештеници</a>
            </footer>
        </article>
        <article>
            <header>
                <strong>Особе</strong>
            </header>
            <p>Управљај списком особа, додај нове и измени постојеће.</p>
            <footer>
                <a role="button" href="/ui/osobe">Особе</a>
            </footer>
        </article>
    </div>
</section>
{{ end }}
